 /*Configuracao do menu e parametros inicial do projeto - 0 */

body {
     background-image: url(img/img-03.jpg);
    background-size: cover;
    height: 200px;
    background-color: #07091ae6;
    background-attachment:fixed
}

* {
    margin: 0px;
    /*Distancia entre os itens*/
    padding: 0px;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }


:target {
  scroll-margin-top: .8em;
}

  /*Configuracao do scroll lateral*/

::-webkit-scrollbar {
    background-color: #60617638;
}            
::-webkit-scrollbar-button    {
    background-color: #00000000;
}            
::-webkit-scrollbar-track  {
    background-color: #00000000;
}            
::-webkit-scrollbar-track-piece {
    background-color: #07091a;
}            
::-webkit-scrollbar-thumb   {
    background-color: #ffffff59;
;
}             
::-webkit-scrollbar-corner   {
    background-color: #07091a;
}             
::-webkit-resizer        {
    background-color: #07091a00;
}            

/*Fim da configuracao*/
  nav {
    display: flex;
    /*Jogar os itens para o canto da página*/
    justify-content: space-around;
    align-items: center;
    min-height: 14vh;
    /*Mudando a cor de fundo do menu*/
    background: rgba( 31, 33, 48, 0.65 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );

    /*Fonte do menu*/
    font-family: 'Poppins', sans-serif;
  }

  .logo {
    /*Mudando a cor da fonte do nome*/
    color: white;
    /*Deixando o texto formatado*/
    text-transform: uppercase;
    /*Mudando o espaçamento das letras*/
    letter-spacing: 5px;
    /*Tamaho da letra*/
    font-size: 20px;
    font-family: 'Kanit', sans-serif;

  }

  .nav-links {
    /*Ajustando o tamanho e posição dos itens*/
    display: flex;
    justify-content: space-around;
    width: 30%;
    

  }

  .nav-links li {
    /*Sumindo com os pontos que ficavam nos itens*/
    list-style: none;


  }

  .nav-links a {
    /*Mudando a cor dos itens*/
    transition: all .3s ease;
    color: white;
    /*Mudando o espaçamento das letras dos itens*/
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    
  }

  .burger-disable{
    display: flex;
  }

  .burger {
    /*Não deixando o menu hambuguer visivel */
        display: none;
    /*aparecendo a maozinha quando clica no menu hambuguer*/
    cursor: pointer;
  }

  .burger div {
    /*Ajeitando o menu Hambuguer*/
    
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  /*Ajustando a altura*/
  @media screen and (max-width:1024px) {
    .nav-links {
      width: 60%;
    }
  }

  /*Ajustando a altura minima*/
  @media screen and (max-width:768px) {
    body {
      overflow-x: hidden;
    }

    /*ajustando os itens para se adequar a altura min.*/
    .nav-links {
      position: absolute;
      right: 0px;
      height: 100vh;
      top: 0vh;
      /*Arrumando o menu hambuguer*/
      flex-direction: column;
      align-items: center;
      width: 100%;
      background: rgb(31 33 48 / 98%);
      backdrop-filter: blur( 11px );
      -webkit-backdrop-filter: blur( 11px );
      -webkit-transform: translateX(400px);
      font-family: 'Kanit', sans-serif;
      margin-left: 20px;

      
      /*Ajeitando a transição parar abrir o menu hambuguer*/
      animation: animacao-2;
      animation-duration: 1000ms;
      transition: transform 1s ease-in;
      
    }

    .nav-links li {
      opacity: 1;
    }

    .burger {
      /*para aparecer o menu hambuguer quando a tela tiver pequena*/
      display: block;
    }

    .burger-disable{
    display: none;
  }
  }
 
  /*Quando se clica no menu hambuguer, consegue abrir os itens*/
  .nav-active {
    transition: transform 0.6s ease-in-out;
    display: flex;
    animation: animacao-1;
    animation-duration: 1000ms;
  }

  .nav-active {
    transition: transform 0.6s ease-in-out;
    display: flex;
    transform: translateX(0%);
  }

  /*Animações quando se clica no menu hamburguer*/
  @keyframes navLinkFade {
    from {
      
      transition: transform 0.6s ease-in-out;
      transform: translateX(50px);
    }

    to {
    animation: animacao-2;
    animation-duration: 1000ms;
    transition: transform 0.6s ease-in-out;
      
    }
  }

  /*Transformando o menu em X*/
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;

  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @keyframes animacao-1 {
    0%{
      -webkit-transform: translateX(400px);
    }

    100% {
      -webkit-transform: translateX(0);
    }
  }

   @keyframes animacao-2 {
    0%{
      -webkit-transform: translateX(0px);
      display: flex;
      opacity: 1;
    }

    100% {
      -webkit-transform: translateX(400px);
      display: none;
      opacity: 0;
    }
  }


  @media screen and (max-width: 768px) {
    .nav-links.nav-active li {
          transition: transform 0.6s ease-in-out;
      opacity: 1;
    }
  }

  .nav-links a:hover {
    transition: all .3s ease;
    color: #9fa2ee;
  }

 .menu{
    position:fixed; 
    width: 100%;
}

  .menu-alto{
   transition: all .4s ease;
    min-height: 14vh
}


.menu-baixo{
   transition: all .4s ease;
    min-height: 8vh;
}

 /*Fim - 0 */

 /*Configuracao div e respansivo - 1 */

 .flex-div{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-conteudo{
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
}

.flex-alinhamento {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.div-primeira{
height: 100vh;
background-color: #07091a91;
}

.div-segunda{
 height: auto;
 scroll-snap-align: start;
 background-color: #07091a;
}

.div-top{
    width: 100%;
    height: auto;
    align-items: center;
    margin: 20vh 0 8vh 0;
}

/*Fim - 1 */

 /*Configuracao elementos - 2 */

.foto{
  background-color: #ffffff;
  background-image: url(img/foto-minha.jfif);
  width: 55vh;
  height: 53vh;
  margin-top: 26vh;
  border-radius: 100%;
  background-size: cover;
  border: white solid 4px;
}


h1 {
  color: aliceblue;
  font-size: 50px;
  font-weight: bold;
}

h2{
  color: #9fa2ee;
  font-size: 20PX;
}

h3{
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

p {
  color: aliceblue;
  padding: 5px;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
}

a{
  text-decoration: none;
}


.paragrafo {
 font-size: 2.5vh;
 color: #828282;
 margin-left: 3%;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 text-align: initial;
 margin-top: 5vh;

  }

 .vetor-grande{   
    width: 32%;
 }

 .vetor-medio{   
    width: 22%;
 }

  .vetor-pequeno{   
    width: 13vh;
    margin: 3vh 0 0 2vh;
 }

 .card-principal {
    width: 600px;
    flex-direction: column;
    align-items: center;
    margin-top: 16vh;
    border-radius: 12px;
    text-align: justify;
}

.card-conteudo {
    font-size: 3vh;
    color: #828282;
    margin-left: 3%;
    text-align: initial;
}

.tecnologias {
    border: 1px solid #9fa2ee;
    border-radius: 18px;
    padding: 7px 20px;
    box-sizing: border-box;
    color: #9fa2ee;
    font-size: 14px;
    margin: 0 10px 10px 0;
    font-weight: bolder;
    background-color: #3f3d56c4;
}

.centralziar {
    width: 100%;
    max-width: 600px;
    flex-wrap: wrap;
    margin-left: 40px;
}

.galeria{
    width: 150vh;
    height: auto;
    border-radius: 20px;
    margin: 10px;
    
}

.projeto{
    width: 280px;
    height: 173px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    animation-duration: 800ms;
    transition: all 0.5s;
    box-shadow: -1px 7px 13px 3px #00000096;
    border: #9fa2ee70 solid 5px;

}

.projeto:hover{
 transform: scale(1.1);
 transition: all 0.5s;
}

.galeria-width-min{
    background-color: #9fa2ee31;
    width: 150vh;
    height: 65vh;
    border-radius: 20px;
    border: #ffffff46 solid 5px;
    margin: 10px;
    overflow:auto
}

.circulo-icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border-radius: 50%;
    margin-bottom: 10px;
}

.box-icones{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25vh;

    
}

.icone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .2s;
    margin: 5px;
    
}

.icone:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

 /*Fim - 2 */

 @media only screen and (max-width: 800px) {
   .vetor-grande{
    width: auto;
    margin-top: 51vh;
  }

  h1{
    text-align: center;
  }

  .card-conteudo{
    margin-top: 1vh;
  }

  .foto {
    width: 45vh;
    height: 42vh;
    margin-top: 32vh;
}

.vetor-medio, .vetor-pequeno {
    display: none;
}

.centralziar{
  margin-left: 5px;
}

.box-icones{
  justify-content: center;
}

.nav-links{
  justify-content: space-evenly;;
  
}

h4{
  font-size: 2vh;
}
 }

 
